.experience {
    position: relative;
    top: 180px;
    padding-top: 100px;
    margin-bottom: 20px;
}

#title-experience {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
    padding: 100px;
}

.local-description-1, .local-description-2, .local-description-3 {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 22px;
}

@media (max-width: 1300px) {
    .experience {
        top: 1850px;
        border-top: none;
    }

    #title-experience {
        left: 0;
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        font-size: 42px;
        position: relative;
        transform: translate(4%, 0);
    }
    
    .content {
        display: flex;
        width: 100%;
        scroll-snap-type: x mandatory;
        scroll-padding: 25px;
        column-gap: 20px;
    }

    .card-1 {
        position: relative;
        flex: 0 0 100%;
        top: 150px;
        width: 115%;
        height: 380px;
        padding: 30px;
        scroll-snap-align: start;
        border-radius: 30px;
        background-color: #232323;
        color: #d2d2d2;
        line-height: 1.2em;
        right: 270px;
    }

    .card-2 {
        position: relative;
        flex: 0 0 100%;
        top: 550px;
        height: 600px;
        padding: 30px;
        scroll-snap-align: start;
        border-radius: 30px;
        background-color: #232323;
        color: #d2d2d2;
        line-height: 1.2em;
        right: 500px;
    }

    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ffd700;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c4a700a6;
    }

    .local-description-1, .local-description-2, .local-description-3 {
        position: absolute;
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 18px;
    }
    
    .local-description-1 {
        top: 30%;
        justify-content: center;
    }

    .local-description-2 {
        top: 32%;
        justify-content: center;
    } 
    
    .local-description-3 {
        top: 38.5%;
        justify-content: center;
    }

    #paragraph-job1-1, #date-exp-illustrator, #date-exp-yap, #paragraph-job2-1, #paragraph-job2-2 {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        column-gap: 10px;
    }

    #paragraph-job1-1 {
        position: relative;
        top: 75px;
    }

    #date-exp-illustrator {
        top: 15px;
        position: relative;
        text-align: center;
        justify-content: center;
    }

    .job1, .job2 {
        position: relative;
        color: #ffd700;
        font-size: 35px;
        text-shadow: 1px -5px 5px #c4a700a6;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .job2 {
        line-height: 1.1em;
    }

    #date-exp-yap {
        position: absolute;
        top: 25%;
    }

    #paragraph-job2-1 {
        position: absolute;
        top: 44%;
        width: 80%;
    }

    #paragraph-job2-2 {
        position: absolute;
        top: 70%;
        width: 80%;
    }
}
