.extracurricular {
    border-top: 0.2px solid #222;
    padding: 100px;
    position: relative;
    margin-bottom: 40px;
}

#title-extracurricular {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
}

@media (max-width: 1300px) {
    .extracurricular {
        border: none;
        top: 2150px;
        display: none;
    }

    #title-extracurricular {
        position: absolute;
        left: 0;
        text-align: center;
        margin: auto;
        justify-content: center;
        width: 100%;
        font-size: 42px;
    }
}
