footer {
    font-family:'Nunito', sans-serif;
    position: relative;
    top: 500px;
    border-top: 0.2px solid #222;
    background: #111;
    font-size: 20px;
    text-align: end;
    padding: 5px;
}

@media (max-width: 1300px) {
    footer {
        top: 3450px;
        width: 100%;
        display: none;
    }
}
