.top-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 90px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

nav a {
    cursor: pointer;
    color: white;
}

nav a::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ffd700;
    margin-top: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
nav a:hover::after {
    transform: scaleX(1);
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu-item {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s ease-in-out;
}

.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line-2 {
    opacity: 0;
}

.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1300px) {
    body {
        overflow-x: hidden;
    }
    
    .top-header {
        display: none;
    }

    .nav-list {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgb(14, 13, 14);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .logo {
        height: 80px;
    }
}
