.content {
    border-top: 0.2px solid #222;
    margin-bottom: 50px;
}

.home {
    display: flex;
    text-shadow: 0px 0px 50px;
    animation: neon 4s infinite linear;
}

.btn-resume {
    color: white;
    background: black;
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
    bottom: 200px;
    left: 40%;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-resume:hover {
    border: white;
    background: white;
    animation: neon-rgb 1s infinite;
    box-shadow: inset 0 0 32px 0 #ffd700, 0 0 32px 0 #ffd700;
}

.image-dev {
    top: 40px;
    position: relative;
    height: 400px;
    left: 150%;
    border-radius: 50%;
    box-shadow: 20px 10px 100px rgba(26, 14, 133, 0.596); 
}

#title-home {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    bottom: 270px;
    left: 25%;
}

#paragraph-home {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    position: relative;
    bottom: 260px;
    left: 25%;
}

.home-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .image-dev {
        display: none;
    }
    
    .home-mobile {
        display: block;
    }

    #title-mobile {
        position: absolute;
        font-family: 'Raleway', sans-serif;
        color: white;
        width: 100%;
        font-size: 50px;
        bottom: 270px;
        transform: translate(15%, 0);
    }

    #paragraph-mobile {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        position: absolute;
        bottom: 260px;
        left: 25%;
        width: 100%;
        transform: translate(-16%, 80%);
    }

    /* #title-home {
        position: absolute;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 48px;
        width: 100%;
        top: 40%;
        left: 0;
    }

    #paragraph-home {
        font-family: 'Nunito', sans-serif;
        text-align: center;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }

    .btn-resume {
        position: absolute;
        top: 60%;
        left: 20%;
        width: 60%;
        height: 13%;
        cursor: pointer;
        z-index: 800;
        text-align: center;
    } */
}
