.content {
    border-top: 0.2px solid #222;
    margin-bottom: 50px;
}

.home {
    display: flex;
    text-shadow: 0px 0px 50px;
    animation: neon 7s infinite linear;
}

.btn-resume {
    color: white;
    background: black;
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
    bottom: 200px;
    left: 25%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-resume:hover {
    border: white;
    background: white;
    animation: neon-rgb 3s infinite;
    box-shadow: inset 0 0 32px 0 #ffd700, 0 0 32px 0 #ffd700;
    transition: .5s;
}

.btn-github {
    color: white;
    background: black;
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
    bottom: 200px;
    left: 35%;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-github:hover {
    border: white;
    background: white;
    animation: neon-rgb 3s infinite;
    box-shadow: inset 0 0 32px 0 #ffd700, 0 0 32px 0 #ffd700;
    transition: .5s;
}

.image-dev {
    top: 40px;
    position: relative;
    height: 400px;
    left: 150%;
    border-radius: 50%;
    box-shadow: 20px 10px 100px;
    animation: neon-gradient 5s linear infinite;
}

#title-home {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    bottom: 270px;
    left: 25%;
}

#paragraph-home {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    position: relative;
    bottom: 260px;
    left: 25%;
}

.home-mobile {
    display: none;
}
