.projects {
    border-top: 0.2px solid #222;
    position: relative;
    padding: 100px;
    margin-bottom: 60px;
    top: 570px;
}

.container {
    position: relative;
    width: 1024px;
    height: 576px;
    overflow: hidden;
    transition: 0.4s;
    left: 5%;
    top: 80px;
}

.slides {
    width: 5120px;
    display: flex;
}

.images-project img {
    width: 1085px;
    height: 450px;
}

#atual {
    margin-left: 0;
    transition: all 2s;
}

.btn-back, .btn-next {
    position: absolute;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 2.7em;
    margin-top: -5px;
}

.btn-back:hover, .btn-next:hover {
    transform: scale(1.5);
}

#back {
    top: 50%;
    left: 5%;
    border-radius: 50%;
}

#next {
    top: 50%;
    left: 90%;
    border-radius: 50%;
}

.balls {
    position: absolute;
    width: 1080px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.balls div {
    position: relative;
    transition: all 0.5s;
    border: 6px solid white;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    top: 550px;
}

.balls div:hover {
    background: white;
    text-shadow: 0 0 50px;
}

.img-atual {
    background: white;
    transition: all 0.5s;
}

.projects-pc {
    display: flex;
}

.projects-mobile {
    display: none;
}

#title-projects {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
}

@media (max-width: 1300px) {
    .projects {
        border: none;
        top: 3100px;
    }

    .projects-pc {
        display: none;
    }

    #title-projects {
        text-align: center;
    }

    .projects-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 25px;
    }

    .box{
        width: 65px;
        height: 68px;
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 0.6rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: all .4s ease;
    }
    
    .box:hover{
        width: 200px;
        background: #FE0002;
        border-radius: 35px;
        color: #fff;
        box-shadow: 0 0 50px #6A0400;
    }
    
    .box:nth-child(2):hover{
        background: #25d366;
        box-shadow: 0 0 50px #25d3657e;
    }
    
    .box:nth-child(3):hover{
        background: #f7931a;
        box-shadow: 0 0 50px #b96f15b9;
    }
    
    .box:nth-child(4):hover{
        background: blueviolet;
        box-shadow: 0 0 50px rgb(80, 25, 133);
    }
    
    .box:nth-child(5):hover{
        background: crimson;
        box-shadow: 0 0 50px rgb(129, 12, 35);
    }
    
    .box:nth-child(6):hover{
        background: #1da1f2;
        box-shadow: 0 0 50px #1876f285;
    }
    
    .navbar p{
        transform: translate(60px);
    }
    
    .box .icon{
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
        margin-right: 10px;
        transition: all .4s ease;
    }
    
    .bitcoin{
        background-color: #f7931a;
    }
    
    .game{
        background-color: #25d366;
    }
    
    .mario{
        background-color: #FE0002;
    }
    
    .menu{
        background-color: crimson;
    }
    
    .piano{
        background-color: #1da1f2;
    }
    
    .calculator{
        background-color: blueviolet;
    }
    
    .box:hover .icon{
        background: #fff;
        color: #3b3b3b;
        box-shadow: 0 0 20px rgba(0,0,0,0.26);
    }

    #link {
        color: white;
    }
}
