.skills {
    border-top: 0.2px solid #222;
    position: relative;
    font-family: 'Raleway', sans-serif;
    padding: 100px;
    margin-bottom: 100px;
}

#title-skills {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
}

.ul {
    position:absolute;
    display:flex;
    margin:0;
    padding: 70px;
    left: 9%;
    bottom: -150px;
}

.ul .li {
    list-style:none;
    margin:0 5px;
    padding-top: 80px;
}

.ul .li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px; 
}

.ul .li a .fa-brands {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}

.ul .li a span {
    padding: 25px;
    margin: 0;
    position:absolute;
    color: #262626;
    letter-spacing: 4px;
    transition: 0.5s;
    bottom: -25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.ul .li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:250px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(255, 255, 255, 0.5);
}

.ul .li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.ul .li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.ul .li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(255, 255, 255, 0.5);
}

.ul .li:hover .fa-solid {
    color:#fff;
}

.ul .li:hover .fa-brands {
    color:#fff;
}

.ul .li:hover span {
    color:#fff;
}
  
.ul .li:hover:nth-child(1) a{
    background: #333;
}

.ul .li:hover:nth-child(1) a:before{
    background: #222;
}

.ul .li:hover:nth-child(1) a:after{
    background: #666;
}
  
.ul .li:hover:nth-child(2) a{
    background: #f06529;
}

.ul .li:hover:nth-child(2) a:before{
    background: #e34c26;
}

.ul .li:hover:nth-child(2) a:after{
    background: #f37f4d;
}
  
.ul .li:hover:nth-child(3) a{
    background: #0077b5;
}

.ul .li:hover:nth-child(3) a:before{
    background: #005f90;
}
  
.ul .li:hover:nth-child(3) a:after{
    background: #1984bc;
}
  
.ul .li:hover:nth-child(4) a{
    background: #F0DB4F;
}

.ul .li:hover:nth-child(4) a:before{
    background: #a79837;
}

.ul .li:hover:nth-child(4) a:after{
    background: rgb(253, 244, 115);
}

@media (max-width: 1300px) {
    .skills {
        top: 1100px;
        border: none;
    }

    .ul {
        position:absolute;
        display:flex;
        flex-direction: column;
        margin:auto;
        padding: 70px;
        top: 200%;
        width: 100%;
        bottom: -150px;
        justify-content: center;
        text-align: center;
    }

    #title-skills {
        position: absolute;
        top: 20%;
        left: 0;
        font-size: 42px;
        text-align: center;
        width: 100%;
    }
}
