.social-media {
    position: relative;
    border-top: 0.2px solid #222;
    padding: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 260px;
    top: 500px;
}

.social-media-button-ul {
    position: absolute;
    display: flex;
    margin:0;
    padding: 70px;
    left: 16%;
    top: 82%;
}

.social-media-button-ul #li-button {
    list-style:none;
    margin:0 5px;
}

.social-media-button-ul #li-button a .fa-brands {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}

.social-media-button-ul #li-button a span {
    padding: 25px;
    margin: 0;
    position: absolute;
    color: #262626;
    letter-spacing: 4px;
    transition: 0.5s;
    bottom: -25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.social-media-button-ul #li-button a {
    text-decoration: none;
    display: absolute;
    display: block;
    width: 250px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgba(255, 255, 255, 0.5);
}

.social-media-button-ul #li-button a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social-media-button-ul #li-button a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social-media-button-ul #li-button a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(255, 255, 255, 0.5);
}

.social-media-button-ul #li-button:hover .fa-solid {
    color:#fff;
}

.social-media-button-ul #li-button:hover .fa-brands {
    color:#fff;
}

.social-media-button-ul #li-button:hover span {
    color:#fff;
}
  
.social-media-button-ul #li-button:hover:nth-child(1) a{
    background: #333;
}

.social-media-button-ul #li-button:hover:nth-child(1) a:before{
    background: #222;
}

.social-media-button-ul #li-button:hover:nth-child(1) a:after{
    background: #666;
}
  
.social-media-button-ul #li-button:hover:nth-child(2) a{
    background: #0077b5;
}

.social-media-button-ul #li-button:hover:nth-child(2) a:before{
    background: #005f90;
}
  
.social-media-button-ul #li-button:hover:nth-child(2) a:after{
    background: #1984bc;
}

.social-media-button-ul #li-button:hover:nth-child(3) a{
    background: linear-gradient(45deg, #ff0050, #00f2ea);
}

.social-media-button-ul #li-button:hover:nth-child(3) a:before{
    background: linear-gradient(45deg, #111, #ff0050, #00f2ea);
}

.social-media-button-ul #li-button:hover:nth-child(3) a:after{
    background: linear-gradient(45deg, #222, #ff0050, #00f2ea);
}

#text-email {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 180%; 
    text-shadow: 0 0 50px;   
}

#text-cta {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 70%;
}

#title-social-media {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
}

@media (max-width: 1300px) {
    .social-media {
        top: 3000px;
        border: none;
    }

    #title-social-media {
        width: 100%;
        text-align: center;
        font-size: 42px;
    }

    .social-media-button-ul {
        position:absolute;
        display:flex;
        flex-direction: column;
        margin:0;
        padding: 70px;
        left: 9%;
        top: 70%;
    }

    .social-media-button-ul #li-button {
        padding-top: 80px;
    }

    #text-email {
        width: 100%;
        text-align: center;
        left: 0;
        top: 350%;
    }

    #text-cta {
        width: 100%;
        font-size: 20px;
        left: 0;
        top: 75%;
        text-align: center;
    }
}
