.experience-description-1 {
    position: relative;
    border: 3px solid white;
    border-radius: 80px; 
    width: 420px;
    height: 380px;
    box-shadow: inset 0 0 32px 0 #ffd700, 0 0 32px 0 #ffd700;
    text-shadow: 0 0 8px hsl(0, 0%, 100% / 0.3), 0 0 32px;
    top: 100px;
}

.experience-description-1::before {
    content: "";
    position: absolute;
    top: 420px;
    left: 0;
    background: #ffd700;
    width: 100%;
    height: 100px;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(100px);
    opacity: 0.3;
    pointer-events: none;
}

.local-description-1 {
    text-shadow: 0 0 50px;
    position: relative;
    left: 10%;
}

.job1 {
    position: relative;
    color: #ffd700;
    margin-top: 50px;
    font-size: 35px;
    left: 32%;
    text-shadow: 0 0 50px;
    font-family: 'Raleway', sans-serif;
}

.job-2 {
    position: relative;
    color: #ffd700;
    margin-top: 50px;
    font-size: 35px;
    text-shadow: 0 0 50px;
    font-family: 'Raleway', sans-serif;
    left: 33%;
}

#date-exp-illustrator {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-style: italic;
    font-size: 20px;
    top: 60px;
    left: 9.5%;
}

#paragraph-1 {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    top: 70px;
    left: 10%;
}

#paragraph-2 {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    top: 70px;
    left: 10%;
}

#paragraph-3 {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    top: 70px;
    left: 10%;
}

#paragraph-4 {
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    top: 70px;
    left: 10%;
}

#brightness {
    text-shadow: 0 0 50px;
}

@media (max-width: 1300px) {
    .experience-description-1 {
        position: relative;
        top: 900px;
        right: 70px;
    }
}
