.experience-description-2 {
    position: relative;
    border: 3px solid white;
    border-radius: 80px; 
    width: 450px;
    height: 620px;
    box-shadow: inset 0 0 32px 0 #ffd700, 0 0 32px 0 #ffd700;
    text-shadow: 0 0 8px hsl(0, 0%, 100% / 0.3), 0 0 32px;
    left: 57%;
    top: -285px;
}

.experience-description-2::before {
    content: "";
    position: absolute;
    top: 650px;
    left: 0;
    background: #ffd700;
    width: 100%;
    height: 100px;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.3;
    pointer-events: none;
}

.local-description-2 {
    text-shadow: 0 0 50px;
    position: relative;
    left: 14%;
    top: 10px;
}

.local-description-3 {
    text-shadow: 0 0 50px;
    position: relative;
    left: 30%;
    top: 15px;
}

.job2 {
    position: relative;
    color: #ffd700;
    font-size: 35px;
    text-shadow: 0 0 50px;
    font-family: 'Raleway', sans-serif;
    top: 50px;
    left: 17%;
}

#date-exp-yap {
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 100px;
    left: 14%;
    font-size: 20px;
    font-style: italic;
}

#paragraph-5, #paragraph-6, #paragraph-7, #paragraph-8, #paragraph-9, #paragraph-10, #paragraph-11, #paragraph-12, #paragraph-13 {
    font-size: 22px;
    position: relative;
    font-family: 'Nunito', sans-serif;
    top: 100px;
    left: 8.7%;
}