@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Franklin:wght@100&family=Nunito:wght@300&family=Raleway:wght@300&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-height: 960vh;
}

body, html {
    font-size: 100%;
    background-color: black;
    color: white;
}

#title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
}

@keyframes neon {
    0% {
        color: lawngreen;
    }
    
    100% {
        color: crimson;
    }

    25% {
        color: purple;
    }

    40% {
        color: blueviolet;
    }

    50% {
        color:rgba(95, 84, 197, 0.3);
    }

    60% {
        color: deepskyblue;
    }

    75% {
        color: cyan;
    }

    90% {
        color: white;
    }
}

@keyframes neon-rgb {
    0%, 100% {
        color: #ffd700;
    }

    50% {
        color: white;
    }
}