.undergraduate {
    position: relative;
    top: 160px;
    border-top: 0.2px solid #222;
    padding: 100px;
    top: -200px;
    margin-bottom: 50px;
    margin-top: 22%;
}

#title-education {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 55px;
    text-shadow: 0px 0px 50px;
}

.university-img {
    position: absolute;
    height: 350px;
    top: 60%;
    left: 52%;
    border: 1px solid rgba(90, 248, 248, 0.521);
    border-radius: 100%; 
    box-shadow: 20px 10px 150px rgba(90, 248, 248, 0.521); 
}

#local-undergraduate, #local-undergraduate-2, #course-undergraduate, #date-undergraduate {
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

#local-undergraduate {
    font-size: 30px;
    top: 103%;
    left: 11%;
}

#local-undergraduate-2 {
    font-size: 20px;
    top: 120%;
    left: 14%;
}

#course-undergraduate {
    font-size: 30px;
    top: 140%;
    left: 5%;
    text-shadow: 0 0 50px;
}

#date-undergraduate {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 20px;
    top: 200%;
    left: 62.5%;
}

@media (max-width: 1300px) {
    .undergraduate {
        position: relative;
        border: none;
        top: 1550px;
    }
    
    .university-img {
        position: absolute;
        height: 250px;
        top: 110%;
        left: 8%;
        border: 1px solid rgba(90, 248, 248, 0.521);
        border-radius: 100%; 
        box-shadow: 20px 10px 150px rgba(90, 248, 248, 0.521); 
    }
    
    #local-undergraduate, #local-undergraduate-2, #course-undergraduate, #date-undergraduate {
        position: absolute;
        font-family: 'Nunito', sans-serif;
    }
    
    #local-undergraduate {
        font-size: 30px;
        top: 50%;
        left: 12%;
        text-align: center;
    }
    
    #local-undergraduate-2 {
        font-size: 20px;
        top: 80%;
        left: 22.5%;
        text-align: center;
    }
    
    #course-undergraduate {
        font-size: 25px;
        top: 240%;
        width: 100%;
        left: 0;
        text-shadow: 0 0 50px;
        text-align: center;
    }
    
    #date-undergraduate {
        text-align: center;
        font-size: 20px;
        top: 255%;
        width: 100%;
        left: 0;
    }

    #title-education {
        position: absolute;
        text-align: center;
        top: 0;
    }
}
