.u.undergraduate {
    position: relative;
    top: 160px;
    border-top: 0.2px solid #222;
    padding: 100px;
    top: -200px;
    margin-bottom: 50px;
    margin-top: 22%;
}

.university-img {
    position: absolute;
    height: 350px;
    top: 60%;
    left: 52%;
    border: 1px solid rgba(90, 248, 248, 0.521);
    border-radius: 100%; 
    box-shadow: 20px 10px 150px rgba(90, 248, 248, 0.521); 
}

#local-undergraduate, #local-undergraduate-2, #course-undergraduate, #date-undergraduate {
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

#local-undergraduate {
    font-size: 30px;
    top: 103%;
    left: 11%;
}

#local-undergraduate-2 {
    font-size: 20px;
    top: 120%;
    left: 14%;
}

#course-undergraduate {
    font-size: 30px;
    top: 140%;
    left: 5%;
    text-shadow: 0 0 50px;
}

#date-undergraduate {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 20px;
    top: 200%;
    left: 62.5%;
}
