.who-is-joao {
    border-top: 0.2px solid #222;
    padding: 100px;
    text-shadow: 0px 0px 50px;
    top: 50px;
    margin-bottom: 20px;
}

#profile-photo {
    height: 350px;
    border: 1px solid black;
    border-radius: 100%; 
    box-shadow: 20px 10px 150px rgba(182, 182, 30, 0.521); 
}

#title-who-is-joao {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: white;
    left: 42%;
    top: 130%;
}

#paragraph-who-is-joao {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    width: 50%;
    color: white;
    left: 43%;
    top: 150%;
}
