.who-is-joao {
    position: relative;
    border-top: 0.2px solid #222;
    padding: 100px;
    text-shadow: 0px 0px 50px;
    top: 50px;
    margin-bottom: 20px;
}

#profile-photo {
    height: 350px;
    border: 1px solid black;
    border-radius: 100%; 
    box-shadow: 20px 10px 150px rgba(182, 182, 30, 0.521); 
}

#title-who-is-joao {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: white;
    left: 42%;
    top: 20%;
}

#paragraph-who-is-joao {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    width: 40%;
    color: white;
    left: 42%;
    top: 40%;
}

@media (max-width: 1300px) {
    .who-is-joao {
        border-top: none;
        top: 500px;
    }

    #title-who-is-joao {
        position: absolute;
        text-align: center;
        font-size: 48px;
        width: 100%;
        left: 0;
        top: 00%;
    }

    #profile-photo {
        position: absolute;
        top: 80%;
        left: 6%;
        width: auto;
        height: 200%;
        margin: auto;
        text-align: center;
    }
    
    #paragraph-who-is-joao {
        text-align: center;
        position: absolute;
        font-size: 20px;
        width: 100%;
        top: 300%;
        left: 0;
    }
}
